
// SUPABASE CONFIG
DATABASE_URL="postgresql://postgres:password@localhost/qwetuposdb"
SUPABASE_URL="https://{your-project-id}.supabase.co" 
SUPABASE_ANON_KEY="your_anon_key"
SUPABASE_SERVICE_ROLE_KEY="your_service_role_key"


# Auth Secret
BETTER_AUTH_SECRET=better_auth_secret_here
AUTH_SECRET=auth_secret_here
NEXTAUTH_SECRET=nextauth_secret_here

# Trpc
NEXT_PUBLIC_APP_URL=https://localhost:3000   #'<https://your-website.com>'
NEXT_PUBLIC_TRPC_URL=https://localhost:3000/api/trpc

#  npx web-push generate-vapid-keys
# https://vapidkeys.com/
NEXT_PUBLIC_VAPID_PUBLIC_KEY=public_key_here
VAPID_PRIVATE_KEY=private_key_here
VAPID_EMAIL=mailto:example@gmail.com


# pKHSxRZpyNRP3kzr
// SUPABASE CONFIG
# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.{PROJECT_ID}:fddDllgu3hnSg4EI@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}


NODE_ENV === "development"

# You are running locally with HTTPS
# Use next dev --experimental-https for testing
# npm run dev -- --experimental-https


# demo business account
email:   happyjoy@gmail.com
password @Happy123

# demo super admin account
email: admin@qwetupos.com
password: YourSecureAdminPassword123!
