
// SUPABASE CONFIG
DATABASE_URL="postgresql://postgres:password@localhost/qwetuposdb"




                // try {
                //     const { email, password } = await signInSchema.parseAsync(credentials)

                //     const [foundUser] = await db
                //         .select()
                //         .from(usersTable)
                //         .where(eq(usersTable.email, email))
                //         .limit(1)

                //     // Explicitly cast to include passwordHash safely without using 'any'
                //     const targetUser = foundUser as typeof foundUser & { passwordHash?: string | null }

                //     if (!targetUser || !targetUser.passwordHash) {
                //         return null
                //     }

                //     const isValid = await bcrypt.compare(password, targetUser.passwordHash)
                //     if (!isValid) return null

                //     if (!targetUser.isActive) {
                //         throw new Error("Account is deactivated.")
                //     }

                //     return {
                //         id: targetUser.id,
                //         name: targetUser.name,
                //         email: targetUser.email,
                //         image: targetUser.image,
                //         businessId: targetUser.businessId,
                //         roleId: targetUser.roleId,
                //     }
                // } catch(err) {
                //     console.error("AUTH ERROR:", err)
                //     return null
                // }