# MySQL database connection
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=your_database_name
DB_USERNAME=your_mysql_username
DB_PASSWORD=your_mysql_password
DATABASE_POOL_MAX=5

# Supabase storage only
SUPABASE_URL="https://{your-project-id}.supabase.co"
SUPABASE_ANON_KEY="your_anon_key"
SUPABASE_SERVICE_ROLE_KEY="your_service_role_key"


# Auth Secret
BETTER_AUTH_SECRET=better_auth_secret_here
AUTH_SECRET=auth_secret_here
NEXTAUTH_SECRET=nextauth_secret_here

# Trpc
NEXT_PUBLIC_APP_URL=https://localhost:3000   #'<https://your-website.com>'
NEXT_PUBLIC_TRPC_URL=https://localhost:3000/api/trpc

#  npx web-push generate-vapid-keys
# https://vapidkeys.com/
NEXT_PUBLIC_VAPID_PUBLIC_KEY=public_key_here
VAPID_PRIVATE_KEY=private_key_here
VAPID_EMAIL=mailto:example@gmail.com

AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}


NODE_ENV === "development"

# You are running locally with HTTPS
# Use next dev --experimental-https for testing
# npm run dev -- --experimental-https


# demo business account
email:   happyjoy@gmail.com
password @Happy123

# demo super admin account
email: admin@qwetupos.com
password: YourSecureAdminPassword123!
